# Credenciais e configurações locais
include/config.h
src/config.h
src/config.local.h
secrets.h

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Arduino
*.elf
*.bin
*.hex

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/
!.vscode/extensions.json

# IDEs e arquivos temporários
.idea/
*.iml
*.swp
*.swo
*.tmp
*.orig

# GSD e SDD
.planning/
.kiro/

# Logs
*.log


.claude/
